@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 100%;
  --foreground: 240 10% 3.9%;
  --card: 0 0% 100%;
  --card-foreground: 240 10% 3.9%;
  --popover: 0 0% 100%;
  --popover-foreground: 240 10% 3.9%;
  --primary: 240 5.9% 10%;
  --primary-foreground: 0 0% 98%;
  --secondary: 240 4.8% 95.9%;
  --secondary-foreground: 240 5.9% 10%;
  --muted: 240 4.8% 95.9%;
  --muted-foreground: 240 3.8% 46.1%;
  --accent: 240 4.8% 95.9%;
  --accent-foreground: 240 5.9% 10%;
  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 0 0% 98%;
  --border: 240 5.9% 90%;
  --input: 240 5.9% 90%;
  --ring: 240 5.9% 10%;
  --radius: 0.25rem;
}

body, html {
  overflow-x: hidden;
  color: hsl(var(--foreground));
}

.title {
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  font-size: 2em;
}

.definition {
  font-family: 'Open Sans', sans-serif;
}

a {
  color: hsl(var(--primary));
  text-decoration: none;
  transition: color 250ms, border-bottom-color 250ms;
}

a:hover {
  color: hsl(var(--secondary-foreground));
  border-bottom-color: hsl(var(--primary-foreground));
}

a::after {
  content: "\2197";
  display: inline;
  vertical-align: top;
  font-size: 0.8em;
  color: hsl(var(--muted-foreground));
}

.text-muted-foreground {
  color: hsl(var(--muted-foreground));
}

.list-index {
  color: hsl(var(--muted-foreground));
  padding-left: 0.5em;
}

dfn {
  text-justify: unset;
  /*border-bottom: dashed 1px rgba(0, 0, 0, 0.8);*/
  cursor: help;
  font-style: normal;
  position: relative;
  text-decoration-line: underline;
  text-decoration-style: dashed;
  text-decoration-color: rgba(0, 0, 0, 0.8);
  text-decoration-thickness: from-font;
  text-underline-offset: 0.2em;
}

dfn::after {
  content: attr(data-info);
  display: inline;
  position: absolute;
  top: 22px;
  opacity: 0;
  font-size: .85em;
  line-height: 1.5em;
  padding: 0.5em 0.8em;
  background-color: hsl(var(--popover));
  pointer-events: none; /* This prevents the box from appearing when hovered. */
  transition: opacity 250ms, top 250ms;
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.3),
              0 0 1px 1px rgba(0, 0, 0, 0.05);
  color: hsl(var(--muted-foreground));
  width: max-content;
  max-width: 512px;
  text-align: start;
  border-radius: .25em;
}

dfn::before {
  content: '';
  display: block;
  position: absolute;
  top: 1em;
  opacity: 0;
  width: 0;
  height: .65em;
  border: solid transparent 5px;
  border-bottom-color: hsl(var(--popover));
  transition: opacity 250ms, top 250ms;
  z-index: 50;
}

dfn::after,
dfn::before {
  left: 50%;
  transform: translateX(-50%);
}

dfn:hover {
  z-index: 2;
}

/* Keeps the info boxes on top of other elements */
dfn:hover::after,
dfn:hover::before {
  opacity: 1;
}

dfn:hover::after {
  top: 2.25em;
}

dfn:hover::before {
  top: 1.25em;
}

.text-copyright {
  font-size: 0.8em;
  color: hsl(var(--muted-foreground));
}
