<main class="main">
  <div class="text">
    <h1 class="text-title" (click)="toggleColor()" style="cursor: pointer">Guus Lieben</h1>
    <div class="text-content">
      <p>I'm an I-B student at the Avans University, Netherlands, Planet Earth</p>
      <blockquote>
        <p>You can contact me at <a href="mailto:guuslieben@xendox.com">guuslieben@xendox.com</a>, follow me on
          <a href="https://twitter.com/GuusLieben">Twitter</a>, or connect with me on <a
            href="https://linkedin.com/in/guus-lieben-99b3b589/">LinkedIn</a>. You can also check out my
          work over at <a href="https://github.com/GuusLieben/">GitHub</a>, or <a
            href="https://gitlab.com/guuslieben/">GitLab</a>.</p>
      </blockquote>
      <nav class="archive archive-posts">
        <h2>Earlier experience</h2>
        <div *ngFor="let skillSet of skillSets">
          <h3 class="archive-subtitle">
            <span class="archive-year">{{skillSet.title}}</span>
            <span class="archive-month"></span>
          </h3>
          <i *ngFor="let skill of skillSet.skills" class="archive-post-link archive-post-link-current">
            <p class="archive-post-name">{{skill.language}}</p>
            <hr class="archive-post-spacer">
            <p class="archive-post-day">{{join(skill.frameworks)}}</p>
            <hr class="archive-post-spacer short">
            <p class="archive-post-day">{{since(skill.since)}}</p>
          </i>
        </div>

        <br>
        <hr>

        <h2>Certificates</h2>
        <h3 class="archive-subtitle">
          <span class="archive-year">G DATA | Avans Hogeschool Hacksession</span>
          <span class="archive-month">2019</span>
        </h3>
        <i class="archive-post-link archive-post-link-current">
          <p class="archive-post-name">License 3513230715</p>
          <hr class="archive-post-spacer">
          <p class="archive-post-day">Awarded by G DATA Software &amp; the Avans University</p>
        </i>

        <h3 class="archive-subtitle">
          <span class="archive-year">Cambridge First Certificate in English</span>
          <span class="archive-month">2015</span>
        </h3>
        <i class="archive-post-link archive-post-link-current">
          <p class="archive-post-name">Level B2</p>
          <hr class="archive-post-spacer">
          <p class="archive-post-day">Awarded by the Cambridge English Language Assessment</p>
        </i>
      </nav>

      <br>
      <hr>

      <h2>Work &amp; education</h2>

      <nav class="archive archive-posts">

        <h3 class="archive-subtitle">
          <span class="archive-year">Work</span>
        </h3>

        <i *ngFor="let job of work" class="archive-post-link archive-post-link-current">
          <p class="archive-post-name">{{job.employer}} - {{job.title}}</p>
          <hr class="archive-post-spacer">
          <p class="archive-post-day">{{job.start}} - {{job.end}}</p>
        </i>


        <h3 class="archive-subtitle">
          <span class="archive-year">Education</span>
        </h3>

        <i class="archive-post-link archive-post-link-current">
          <p class="archive-post-name">Avans University of Applied Sciences</p>
          <hr class="archive-post-spacer">
          <p class="archive-post-day">Information Technology 2018 - 2022</p>
        </i>

        <i class="archive-post-link archive-post-link-current">
          <p class="archive-post-name">Walburg College <em>[Graduated]</em></p>
          <hr class="archive-post-spacer">
          <p class="archive-post-day">HAVO/HGSE 2012-2018</p>
        </i>

      </nav>

    </div>
  </div>

  <nav class="archive archive-posts">
    <hr>
    <h2 class="archive-title">Public portfolio</h2>

    <h3 class="archive-subtitle">
      <span class="archive-year">Project</span>
      <span class="archive-month">Language</span>
    </h3>

    <div id="github-feed">
      <div *ngFor="let project of gitProjects" class="list-card">
        <a [attr.href]="project.url"
           class="archive-post-link archive-post-link-current">
          <p class="archive-post-name"><b><i [ngClass]="project.source"></i> {{project.title}}</b></p>
          <hr class="archive-post-spacer">
          <p class="archive-post-day">{{project.language}}</p>
        </a>
        <a class="archive-post-link archive-post-link-current">
          <p class="archive-post-name"><small style="font-size: 14px">{{project.description}}</small></p>
        </a>
        <br>
      </div>
      <hr>
      <div class="archive-post-name">
        <a class="archive-post-link archive-post-link-current" href="https://github.com/GuusLieben">
          <p class="archive-post-name"><small style="font-size: 14px">.. and {{contributions}} other contributions on GitHub</small></p>
        </a>
      </div>

    </div>

  </nav>
</main>
